#content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    padding: 20px; 
    min-height: calc(100vh - 160px); 
    box-sizing: border-box; 
    background-color: #F5F5F5;
}

.postCard {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-color: #FFFFFF; 
    color: #242424;

    width: 80%; 
    max-width: 60%;
    margin: 15px auto; 
    padding: 20px;

    border: solid 1px #E0E0E0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: box-shadow 0.2s ease-in-out;
}

.postPictureContainer {
    position: absolute;
    top: 12px;
    /* right: 15px; */
    width: 240px;
    height: 240px;
    overflow: hidden;
    border-radius: 5px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/*maybe?*/
.postCard:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.topicPostPictureContainer {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25%;
    height: 75%;
    overflow: hidden;
    border-radius: 5px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.postPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; 
}

.postCard h1{
    margin:0;
    flex-grow:1;
    color: #4A4A4A;
}

.cardTitle {
    display: flex;
    align-items: center;
    width: 100%;
}

.cardTitle h1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.postCard a {
    text-decoration: none;
    color: #6A5ACD;
    transition: color 0.2s ease;
}
.postCard a:hover {
    color: #4A3AA9;
}

.topicName {
    background-color: #F0EFF6;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.6em;
    margin-left: 10px;
    color: #6A5ACD;
}

/* .photoCardBody {
    max-height: 200px; 
    overflow-y: auto; 
    padding-right: 270px;
}

.textCardBody {
    max-height: 200px; 
    overflow-y: auto; 
}

.topicCardBody {
    max-height: 200px; 
    overflow-y: auto; 
    padding-right: 270px;
} */

.photoCardBody, .textCardBody, .topicCardBody {
    max-height: 200px; 
    overflow-y: auto;
    
    /* hiding scrollbar */
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.photoCardBody {
    padding-right: 270px;
}

.topicCardBody {
    padding-right: 270px;
}

.cardFooter{
    display:flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    margin-top: 15px;
    color: #666666;
}

.cardFooterText{
    padding-left:15px;
}

.likesIcon{
    width:20px;
    height:20px;
    filter: invert(100%);
    padding-right: 5px;
}

.read-more-btn {
    color: #6A5ACD; 
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: underline; 
    font-weight: bold; 
    transition: color 0.2s ease;
}

.read-more-btn:hover {
    color: #4A3AA9; 
    text-decoration: none; 
    
}

.no-posts {
    text-align: center;
    margin: 40px auto;
    color: #4A4A4A;
}