#content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0;
}

.postCard {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    background-color: #FFFFFF; /* POST CARD COLOR*/
    color: black;
    width: 80%; 
    max-width: 60%;
    margin: 20px auto; 
    padding: 20px;
    padding-top: 50px; 

    border: solid 1px black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 8px;

}

.postPictureContainer {
    position: absolute;
    top: 15px;
    right: 50px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 8px; 
}


.postPicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; 
}


.postCard h1{
    margin:0;
}

.cardTitle{
    
}

.cardBody {
    max-height: 200px; 
    overflow-y: auto; 
    padding-right: 10px;
}


.cardFooter{
    display:flex;
    align-items: center;
    font-size: 24px;
    position: relative;
    font-size: 14px;
}

.cardFooterText{
    padding-left:15px;
}

.likesIcon{
    width:20px;
    height:20px;
    filter: invert(100%);
    padding-right: 5px;

}

.read-more-btn {
    color: #4A6EF2; 
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: underline; 
    font-weight: bold; 
}

.read-more-btn:hover {
    color: #1647f7; 
    text-decoration: none; 
}