body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#content {
    margin-top: 80px;
    margin-left: 100px;
    padding: 20px;
    padding-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex-grow: 1;
}

#post-content {
    width: 100%;
    max-width: 800px;
    padding: 20px 0;
    text-align: left;
}

#post-content h2 {
    font-size: 31px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#post-content img {
    width: 40%;
    max-width: 800px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

#like-count {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #aaa;
}

#like-count img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0;
}

#like-count p {
    margin: 0;
    padding-top: 3px;
}

#text-content {
    width: 100%;
    max-width: 800px;
    padding: 15px 0;
    margin-top: 10px;
    line-height: 1.5;
    font-size: 16px;
}

#text-content p {
    white-space: pre-line;
}

.button-cont {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin-top: 15px;
}

.button-cont button {
    background: #E0E0E0;
    border: none;
    cursor: pointer;
    /* padding: 5px; */
    border-radius: 20px;
}

.button-cont button img {
    width: 60px;
    height: 25px;
    border-radius: 20px;
}

.button-cont button:hover {
    background-color: #BDBDBD
}

#comment-section {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

/* #comment-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
} */

#comment-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-divider {
    border: 0; 
    height: 1px; 
    background-color: #ccc; 
    margin: 30px 0; 
    width: 100%; 
}

#comment-section .comment-divider:first-of-type {
    margin-top: 0; 
}

#backbutton {
    position: absolute; 
    top: 85px; 
    left: 120px; 
    z-index: 11; 
    display: flex;
    gap: 8px;
}

#backbutton img{
    width: 27px;
    height: 27px;
    cursor: pointer;
    margin: 0;
}

#backbutton p{
    cursor: pointer;
    margin: 0;
    padding-top: 5px;
}

#userspfp-post {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block; /* Ensure the pfp is inline */
}

#userspfp-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}