.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.register-container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

.form-group input {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn.submit-btn {
    background-color: #4A6EF2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.submit-btn:hover {
    background-color: #1647f7;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #4A6EF2;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

input.invalid {
    border: 1px solid red;
    background-color: #ffeded;
}

input.valid {
    border: 1px solid green;
    background-color: #eaffea;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
    text-align: left;
}

/* upload profile picture CSS */
.profile-pic-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic-label {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 2px solid #ddd;
}

.edit-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, 0.3); 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.edit-icon img {
    width: 24px; 
    height: 24px;
    filter: invert(1);
    filter: brightness(1000%) drop-shadow(0px 0px 3px rgba(255, 255, 255, 0.8));

}
/*makes the edit icon visible when hovering*/
.profile-pic-container:hover .edit-icon {
    opacity: 1; 
}

.profile-pic-container:hover .profile-pic {
    filter: brightness(0.6); 
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-text {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 12px;
    padding: 5px 0;
    transition: 0.3s;
}


